# Imports

In [1]:
import pandas

# Load Data

In [2]:
train_data = pandas.read_csv("data/train_data.csv", chunksize=100)
train_labels = pandas.read_csv("data/train_labels.csv", chunksize=100)
test_data = pandas.read_csv("data/test_data.csv", chunksize=100)

# Unpack Data

In [3]:
for chunk_train_data in train_data:
    break
for chunk_train_labels in train_labels:
    break
for chunk_test_data in test_data:
    break

# Inspect Data

In [4]:
chunk_train_data.head()

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,...,NaN,NaN,NaN,0.002427,0.003706,0.003818,NaN,0.000569,0.000610,0.002674
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.936665,0.005775,0.004923,1.000653,0.006151,0.126750,0.000798,0.002714,...,NaN,NaN,NaN,0.003954,0.003167,0.005032,NaN,0.009576,0.005492,0.009217
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.954180,0.091505,0.021655,1.009672,0.006815,0.123977,0.007598,0.009423,...,NaN,NaN,NaN,0.003269,0.007329,0.000427,NaN,0.003429,0.006986,0.002603
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-06-13,0.960384,0.002455,0.013683,1.002700,0.001373,0.117169,0.000685,0.005531,...,NaN,NaN,NaN,0.006117,0.004516,0.003200,NaN,0.008419,0.006527,0.009600
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-07-16,0.947248,0.002483,0.015193,1.000727,0.007605,0.117325,0.004653,0.009312,...,NaN,NaN,NaN,0.003671,0.004946,0.008889,NaN,0.001670,0.008126,0.009827

In [5]:
print("\033[1mColumns\033[0m")
print("We got", len(chunk_train_data.columns), "columns\n")
print(*chunk_train_data.columns, sep=", ")

Columns

NameError: name 'chunk_train' is not defined

In [ ]:
chunk_train_labels.head()

In [ ]:
print("\033[1mColumns\033[0m")
print(*chunk_train_labels.columns, sep=", ")

In [ ]:
chunk_test_data.head()

In [ ]:
print("\033[1mColumns\033[0m")
print(*chunk_test_data.columns, sep=", ")